{% block body %}

  <style>
  myHero {
      display:block;
      background-color:#ddd;
      padding: 10px;
      font-size: 10px;
  }  
  </style>



<body>



<br>
<div class="container">
    <div class="panel panel-default">
	<div class="panel-body">
	    <div class="page-header">
	    
	    <myHero>My First Hero</myHero>

	    
	    
		<div>

		
		    <ul class="nav nav-pills nav-tabs nav-justified">
		      
		      {% for data in tabs %}
			  <li class="{{ data.class }}" role="presentation"><a href="#{{ data.file }}"data-toggle="tab">{{ data.tab }}</a></li>
		      {% endfor %}
		    
		    </ul>

		    <div class="tab-content">
			
			
			{% for data in tabs %} 
			    <div class="tab-pane {{ data.class }}" id="{{ data.file }}">
				{{ data.tab }}
				{% include data.file ~ '.html.twig'  %}
			    </div>
			{% endfor %}
		    
		    </div>
		
		</div>

		
	    </div>
	</div>
    </div>
</div>
</body>
{% endblock %}
